{% extends 'master/base.html' %}


{% block title %}
    Login View
{% endblock title %}


{% block content %}
    <h3 class="text-center">Login By User Name & Password</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">User Name</label>
    <input type="text" name="username" class="form-control" id="exampleInputPassword1" placeholder="Enter your name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
  </div>


  <button type="submit" class="btn btn-primary">Login</button>
</form>
<a href="{% url 'register_view' %}">Don't have any account?</a>
{% endblock content %}
    
    