{% extends 'master/base.html' %}


{% block title %}
    addcash_list
{% endblock title %}

{% block content %}
<h3 class="text-center">Add Cash Information</h3>
    <a class="btn btn-success" href="{% url 'addcash_view' %}">Add Cash</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>Name</th>
                <th>Source</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {% for x in form_data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{x.cash_name}}</td>
                <td>{{x.source}}</td>
                <td>{{x.datetime}}</td>
                <td>{{x.cash_amount}}</td>
                <td>{{x.cash_description}}</td>
                <td>
                    <a href="{% url 'cash_update' x.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'cash_delete' x.id %}" class="btn btn-success">Delete</a>
                </td>
                </tr>
                {% endfor %}
                
        </tbody>
    </table>
    
{% endblock content %}
    