{% extends 'master/base.html' %}

    {% block title %}
      addproject
    {% endblock title %}
      
  
  {% block content %}
    
    <div class="container">
        <h1 class="text-center">Add Student Project</h1>
   <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Project Name</label>
    <input type="text" name="project_name" class="form-control" placeholder="Enter Project name">
  </div>
 <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Project Description</label>
    <textarea name="project_description" class="form-control" placeholder="Project describe here"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Project Image</label>
    <input type="file" name="project_image" class="form-control" placeholder="Enter project image">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Project Status</label>
    <select name="project_status" class="form-select" >
  <option value="NotStarted">NotStarted</option>
  <option value="InProgress">InProgress</option>
  <option value="Completed">Completed</option>
</select>
  </div>
  <button type="submit" class="btn btn-primary">Add Project</button>
</form>
</div>
{% endblock content %}