{% extends 'master/base.html' %}


{% block title %}
    Register View
{% endblock title %}
    

{% block body %}
<h3 class="text-center">Register Here</h3>
    <form method="POST">
        {% csrf_token %}
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">User Name</label>
    <input type="text" name="username" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image</label>
    <input type="file" name="image" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User Type</label>

<select name="user_type" class="form-select" aria-label="Default select example">
  <option selected>Select Type</option>
  <option value="Customer">Customer</option>
  <option value="Vendor">Vendor</option>
</select>  
</div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password" name="conf_password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Register</button>
  <a href="{% url 'login_view' %}">If you have account?</a>
</form>
{% endblock body %}
    